/* подключаю шрифты */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src:
    url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
    font-weight: medium;
}
/* custom colors */
:root {
  --white: #fff;
  --white-30: rgba(255,255,255,0.3);
  --dark: #323232;
  --dark-30: rgba(32, 32, 32, 0.3);
  --nav-inset-border: #696969;
  --body-lightgreen: #849D8F;
  --nav-current: #D07058;
  --nav-active: #EDEDED;
  --body-brown: #9D8B84;
  --body-gray: #8996A6;
  --white-transparent-20: rgba(255, 255, 255, 0.2);
  --submenu-shadow: rgba(0, 0, 0, 0.4);
  --submenu-item-hover: #FBDED7;
  --submenu-item-active: #F6B5A5;
  --submenu-item-underline: rgba(50, 50, 50, 0.2);
  --button-text-shadow: rgba(160, 32, 11, 0.76);
  --button-hover-shadow: #AC1000;
  --button-active-shadow: #942718;
  --slider-button-hover: rgba(255, 255, 255, 40%);
  --product-container-hover-shadow: rgba(0, 0, 0, 0.2);
  --subscription-container: #F8F7F4;
  --socials-border: rgba(255, 255, 255, 0.5);
  --modal-close: #F8F7F4;
  --input-border: #D3D3D2;
  --input-border-focus: rgba(46, 136, 228, 0.52);
  --link-white-bg-hover: #E84D37;
  --link-any-bg-hover: #FFBC9E;
  --link-white-bg-hover-underline: rgba(232,77,55,0.3);
  --link-any-bg-hover-underline: rgba(255, 188, 158, 0.3);
  --contact-address: #FEFEFE;
  --cart-item-price: #C4C4C4;
  --cart-underline: #CACAC7;
  --modal-bg: rgba(0,0,0,0.3);
}
.page {
  height: 100%;
}
.main-page,
.inner-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: var(--body-lightgreen);
  color: var(--white);
}
.modal-bg::before {
  content: "";
  overflow: hidden;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  z-index: 40;
}

.body-brown {
  background-color: var(--body-brown);
  background-image: url("../img/promo-1.png"), url("../img/pic/glow.png");
  background-size: 639px 582px, 716px;
  background-position:
  max(calc(50vw - 639px / 2 + 7px), calc(1146px / 2 - 639px / 2 + 7px)) 83px, max(calc(50vw - 639px / 2 + 7px), calc(1146px / 2 - 639px / 2 + 7px)) 0;
  background-repeat: no-repeat;
}
.body-gray {
  background-color: var(--body-gray);
  background-size: 639px 582px, 716px;
  background-image: url("../img/promo-2.png"), url("../img/pic/glow.png");
  background-position:
  max(calc(50vw - 639px / 2 + 7px), calc(1146px / 2 - 639px / 2 + 7px)) 83px, max(calc(50vw - 639px / 2 + 7px), calc(1146px / 2 - 639px / 2 + 7px)) 0;
  background-repeat: no-repeat;
}
.body-green {
  background-size: 639px 582px, 716px;
  background-image: url("../img/promo-3.png"), url("../img/pic/glow.png");
  background-position:
    max(calc(50vw - 639px / 2 + 7px), calc(1146px / 2 - 639px / 2 + 7px)) 83px, max(calc(50vw - 639px / 2 + 7px), calc(1146px / 2 - 639px / 2 + 7px)) 0;
  background-repeat: no-repeat;
}
.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
}
.input {
  height: 44px;
  padding: 15px;
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid var(--input-border);
  border-radius: 4px;
}
.input:hover {
  border-width: 2px;
  box-sizing: border-box;
  padding: 14px;
}
.input:focus {
  outline: none;
  border-width: 2px;
  padding: 14px;
  border-color: var(--input-border-focus);
}
.link-white-bg,
.link-white-bg:visited {
  color: var(--dark);
  text-decoration: underline;
  text-decoration-color: var(--submenu-item-underline);
}
.link-white-bg:hover,
.link-white-bg:active {
  color: var(--link-white-bg-hover);
  text-decoration: underline;
  text-decoration-color: var(--link-white-bg-hover-underline);
}
.link-any-bg,
.link-any-bg:visited {
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--white-30);
}
.link-any-bg:hover,
.link-any-bg:active {
  color: var(--link-any-bg-hover);
  text-decoration: underline;
  text-decoration-color: var(--link-any-bg-hover-underline);
}
.button,
.button:visited {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 23px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border-width: 0px;
  border-radius: 70px;
  color: var(--white);
  text-shadow: 0px 2px 5px var(--button-text-shadow);
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(0deg, var(--white-transparent-20), var(--white-transparent-20)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px var(--button-hover-shadow);
}
.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px var(--button-active-shadow);
}

.navigation {
  margin-top: 9px;
  display: flex;
  align-items: center;
}
.logo {
  width: 154px;
  height: 64px;
  margin-right: 11px;
}
.main-navigation-list {
  margin: 0;
  margin-top: -4px;
  padding: 0;
  list-style: none;
  width: 800px;
  height: min-content;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-navigation-item {
  margin-right: 4px;
  padding: 7px 14px;
  position: relative;
}
.main-navigation-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: transparent;
}
.main-navigation-item > a,
.main-navigation-item > a:visited {
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--white-transparent-20);
}
.main-navigation-item:hover {
  background-color: #fff;
  border-radius: 26px;
  cursor: pointer;
}
.main-navigation-item:hover > a {
  color: var(--dark);
  text-decoration: none;
}
.main-navigation-item:active,
.main-navigation-item:focus {
  background: var(--nav-active);
  box-shadow: inset 0px 2px 1px var(--nav-inset-border);
}
.user-navigation-list {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  width: 300px;
  height: min-content;

  display: flex;
  justify-content: flex-end;
}
.user-navigation-item {
  margin-left: 10px;
  position: relative;
}
.user-navigation-item > a {
  margin-bottom: 4px;
}
.search-container {
  position: absolute;
  top: 36px;
  right: 0;
  display: none;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--submenu-shadow);
  background-color: var(--subscription-container);
}
.search:hover .search-container {
  display: flex;
}
.search-button {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-image: url(../img/pic/icons/search.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--white-transparent-20);
  border-radius: 50%;
}
.search:hover .search-button {
  background-color: var(--white);
  background-image: url(../img/pic/icons/search-hover.svg);
}
.search-field {
  margin: auto;
}
.search-field .input {
  width: 311px;
}
.login-form {
  position: absolute;
  z-index: 10;
  top: 36px;
  right: 0;
  display: none;
  width: 277px;
  height: 214px;
  padding: 20px 17px 22px 19px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--submenu-shadow);
  background-color: var(--subscription-container);
}
.login:hover .login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.login-form .input {
  grid-column: 1 / -1;
}
.login-button {
  display: block;
  font-size: 0;
  width: 92px;
  height: 32px;
  background-color: var(--white-transparent-20);
  background-image: url(../img/pic/icons/login.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.login:hover .login-button {
  background-color: var(--white);
  background-image: url(../img/pic/icons/login-hover.svg);
}
.login-form .button {
  height: 44px;
  padding: 15px 25px;
  grid-column: 1 / 2;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  text-shadow: none;
}
.login-form-options {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -8px;
}
.login-form-options-link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.cart-button {
  display: block;
  font-size: 0;
  width: 100px;
  height: 32px;
  background-color: var(--white-transparent-20);
  background-image: url(../img/pic/icons/cart-empty.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.cart-button-full {
  display: block;
  font-size: 0;
  width: 118px;
  height: 32px;
  background-color: var(--white);
  background-image: url(../img/pic/icons/cart-full.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cart-full:hover .cart-container {
  display: block;
}
.cart-container {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 36px;
  display: none;
  width: 539px;
  height: 242px;
  padding: 21px;
  background-color: var(--modal-close);
  box-shadow: 0px 20px 20px var(--submenu-shadow);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
}
.cart-layout {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--dark);
}
.cart-layout td {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 18px;
}
.cart-delete {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  background-image: url('../img/pic/cart-delete.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
.cart-item {
  width: 265px;
  box-sizing: border-box;
}

.cart-item-price {
  color: var(--cart-item-price);
}
.cart-layout .cart-total {
  border-top: 1px solid var(--cart-underline);
  padding-top: 16px;
  text-align: right;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
}
.cart-container .button {
  padding: 13px 15px;
  font-size: 18px;
  line-height: 16px;
  text-shadow: none;
}

.submenu-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  top: 43px;
  left: -8px;
  display: none;
  width: 143px;
  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--submenu-shadow);
  border-radius: 4px;
  overflow: hidden;
}
.main-navigation-item:first-child:hover .submenu-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.submenu-item {
  padding: 7px 14px;
  width: 100%;
  box-sizing: border-box;
}
.submenu-item:hover {
  background-color: var(--submenu-item-hover);
}
.submenu-item:active {
  background-color: var(--submenu-item-active);
}
.submenu-item > a {
  color: var(--dark);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}
.submenu-item:first-child {
  border-bottom: 1px solid var(--submenu-item-underline);
  padding-top: 13px;
  padding-bottom: 15px;
}
.submenu-item:last-child {
  padding-bottom: 14px;
}
.submenu-item:first-child > a {
  font-weight: 700;
  line-height: 18px;
}
.submenu-item-current,
.submenu-item-current:hover {
  background-color: var(--nav-current);
}
.submenu-item-current > a,
.submenu-item-current:hover > a {
  color: var(--white);
}


.work-hours {
  margin: 2px 0 8px 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  text-align: right;
}
.tel {
  margin: 0;
  padding: 0;
  height: min-content;
  text-align: right;
}
.tel > a {
  font-size: 22px;
  line-height: 24px;
  font-style: normal;
  color: var(--white);
  text-decoration: none;
  vertical-align: center;
}
.best-pairs {
  min-height: 210px;
  margin-top: 275px;
  margin-bottom: 41px;
  text-align: center;
  position: relative;
}
.best-pairs-header {
  margin: -1px auto 27px;
  padding: 0;
  min-width: 648px;
  max-width: 672px;
  font-size: 60px;
  line-height: 60px;
}
.slider-controls {
  min-width: 79px;
  height: min-content;
  position: absolute;
  bottom: 23px;
  left: 0;
}
.slider-button {
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
}
.slider-button:hover {
  background-color: var(--slider-button-hover);
}
.slider-button:active {
  background-color: var(--white);
}
.slider-active,
.slider-active:hover {
  background-color: var(--white);
}
.best-pairs .button {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  margin-left: -13px;
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-bottom: 40px;
}
.specials-raspberry {
  background-image: url("../img/pic/rasp-bg.jpg");
  background-color: var(--body-brown);
  border-radius: 16px;
}
.specials-chocolate {
  background-image: url("../img/pic/choko-bg.jpg");
  background-color: var(--body-brown);
  border-radius: 16px;
}
.specials {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.specials > h2 {
  margin-top: -3px;
  margin-bottom: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
}
.specials > p {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  padding-right: 5px;
  font-size: 18px;
  line-height: 22px;
}
.specials > .button {
  padding: 11px 22px;
  margin: 6px;
  align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
}

.hits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  margin-bottom: 28px;
}
.product-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container .button {
  display: none;
}
.product-container:hover {
  background-color: var(--white-transparent-20);
  box-shadow: 0px 20px 20px var(--product-container-hover-shadow);
  border-radius: 4px;
  padding: 6px 13px 21px;
  margin: -6px -13px -57px;
  z-index: 1;
}
.product-container:hover .button {
  display: block;
  justify-self: flex-end;
}
.hit {
  background-image: url(../img/pic/hit-sticker.png);
  background-repeat: no-repeat;
}
.product {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product > img {
  width: 267px;
  height: 267px;
  margin-bottom: 13px;
  z-index: -1;
}
.product > p {
  margin-top: -72px;
  margin-bottom: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
}
.product span {
  font-size: 30px;
  line-height: 35px;
}
.product > figcaption {
  margin-top: 28px;
  margin-bottom: 11px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--white-transparent-20);
}
.features {
  padding: 20px;
  margin-bottom: 40px;

  background-image: url(../img/pic/waffle-pattern.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
}
.features > h2 {
  margin: 4px 0 7px;
  padding: 0;

  color: var(--dark);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-list li {
  width: 49%;
  box-sizing: border-box;
  padding-left: 55px;
  padding-top: 11px;
  padding-bottom: 10px;
  color: var(--dark);
  font-weight: 400;
  line-height: 22px;
  background-image: url(../img/pic/eskimo.svg);
  background-repeat: no-repeat;
}
.features-list li:nth-child(2) {
  background-image: url(../img/pic/cow.svg);
}
.features-list li:nth-child(3) {
  background-image: url(../img/pic/leaf.svg);
}
.features-list li:nth-child(4) {
  background-image: url(../img/pic/termometer.svg);
}

.news {
  padding: 18px 20px;

  background-image: url(../img/pic/straw-bg.jpg);
  background-repeat: repeat;
  background-color: var(--white);
  border-radius: 16px;
  color: var(--dark);
}
.news > h2 {
  margin: 0 0 2px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.news-item {
  display: block;
  width: 60%;

  text-decoration: underline;
  color: var(--dark);
  font-size: 24px;
  line-height: 30px;
}
.subscription {
  padding: 5px 6px;
  background-image: url(../img/pic/mail-bg.png);
  background-repeat: repeat;
  background-color: var(--white);
  border-radius: 16px;
  color: var(--dark);
}
.subscription-container {
  min-height: 210px;
  padding: 24px 16px 35px 20px;
  box-sizing: border-box;
  background-color: var(--subscription-container);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.subscription-container > p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 22px;
}
.subscription-form {
  margin-top: auto;
  display: flex;
  min-height: 44px;
}
.subscription-form  input {
  flex-grow: 1;
  margin-right: 10px;
}
.subscription-form .button {
  font-size: 18px;
  line-height: 24px;
  padding: 9px 23px;
}

.location {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: min(calc((1146px - 100vw) / 2), 0px);
  margin-right: min(calc((1146px - 100vw) / 2), 0px);
  padding: 0;
  position: relative;
}
.location > iframe {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  vertical-align: center;
  width: 100%;
}
.location-address {
  position: absolute;
  top: 62px;
  right: max(calc((100vw - 1146px) / 2), 0px);
  width: 303px;
  height: 306px;
  box-sizing: border-box;
  padding: 25px 32px 31px;
  display: flex;
  flex-direction: column;
  background-color: var(--contact-address);
  border-radius: 16px;
  color: var(--dark);
}
.location-address > p {
  margin-left: -7px;
  margin-top: 3px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.location-address > address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  margin-top: -15px;
  margin-left: -6px;
  margin-bottom: 30px;
}
.location-address > .online-order {
  margin-top: -7px;
}
.online-order-tel {
  margin-top: 11px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: var(--dark);
  text-decoration: none;
}
.feedback-button {
  margin-top: auto;
  margin-left: -5px;
  margin-right: -7px;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.page-footer > .wrapper {
  margin-top: 14px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.socials-list > li {
  margin-right: 8px;
}
.socials-item {
  display: block;
  font-size: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--socials-border);
  background-repeat: no-repeat;
  cursor: pointer;
}
.fb {
  background-image: url("../img/pic/fb-logo80.svg");
}
.fb:hover,
.fb:active {
  background-image: url("../img/pic/fb-logo100.svg");
}
.vk {
  background-image: url("../img/pic/vk-logo80.svg");
}
.vk:hover,
.vk:active {
  background-image: url("../img/pic/vk-logo100.svg");
}
.ig {
  background-image: url("../img/pic/ig-logo80.svg");
}
.ig:hover,
.ig:active {
  background-image: url("../img/pic/ig-logo100.svg");
}
.tw {
  background-image: url("../img/pic/tw-logo80.svg");
}
.tw:hover,
.tw:active {
  background-image: url("../img/pic/tw-logo100.svg");
}
.company-info {
  background-image: url("../img/pic/heart.svg");
  background-position: 4px 8px;
  background-repeat: no-repeat;
  width: 340px;
}
.info-list {
  margin: 0;
  padding: 0 8px 0 26px;
  list-style: none;
  height: min-content;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 32px;
}
.info-item {
  padding-top: 4px;
}
.info-item a {
  font-weight: 400;
  font-size: 13px;
  color: var(--white);
  text-decoration: underline;
  text-decoration-color:var(--white-transparent-20);
}
.info-item:first-child > a {
  font-weight: 700;
}
.copyright {
  min-height: 60px;
}
.logo-academy {
  margin-bottom: 13px;
}
.logo-academy > img {
  vertical-align: middle;
}
.copyright a {
  display: block;
  text-decoration: none;
}
.copyright p {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.copyright span {
  text-decoration: underline;
  text-decoration-color:var(--white-transparent-20);
}

.modal-feedback {
  width: 477px;
  height: 441px;
  padding: 20px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 90;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -500%);
  transition: 0.5s ease;
  background-color: var(--subscription-container);
  border-radius: 6px;
}
.modal-feedback-active {
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.modal-feedback h2 {
  margin: 0 0 26px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--dark);
}
.feedback-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textarea {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid var(--input-border);
  border-radius: 4px;
}
.textarea:hover {
  border-width: 2px;
  padding: 14px;
  box-sizing: border-box;
}
.textarea:focus {
  outline: none;
  border-width: 2px;
  padding: 14px;
  border-color: var(--input-border-focus);
}
.feedback-form .button {
  align-self: flex-end;
  padding: 14px 24px;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 24px;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  display: block;
  font-size: 0;
  width: 18px;
  height: 17px;
  background-image:url("../img/pic/modal-close.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;
  background-color: var(--modal-close);
  cursor: pointer;
}

.main-navigation-item-current,
.main-navigation-item-current:hover,
.main-navigation-item-current:active {
  padding: 7px 14px;
  background-color: var(--nav-current);
  border-radius: 26px;
  text-decoration: none;
}
.main-navigation-item-current > a,
.main-navigation-item-current:hover > a,
.main-navigation-item-current > a:visited {
  color: var(--bacic-white);
  text-decoration: none;
}

.breadcrumbs {
  margin: -24px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.breadcrumbs-item,
.breadcrumbs-current {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-image: url('../img/pic/breadcrumbs.svg');
  margin-left: 8px;
  margin-right: 8px;
}
.breadcrumbs-item > a {
  text-decoration: underline;
  text-decoration-color: var(--white-transparent-20);
  color: var(--white);
}
.breadcrumbs-current > a {
  text-decoration: none;
}
.catalog-page {
  margin: 1px 0 29px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 277px;
  margin-bottom: 24px;
}
.catalog-filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 7px;
}
.catalog-filter fieldset {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 14px;
  padding: 0;
  border: 0;
}
.catalog-filter label {
  font-weight: 500;
}
.sort-input {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--white);
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
}
.sort-box {
  position: relative;
  height: 36px;
  width: 196px;
  box-sizing: border-box;
  background-color: var(--white-transparent-20);
  color: var(--white);
  border: 0;
  border-radius: 20px;
  display: flex;
}
.sort-box::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 14px;
  width: 11px;
  height: 10px;
  background-image: url('../img/pic/form_controls/select-arrow.svg');
  background-repeat: no-repeat;
  pointer-events: none;
}
.sort-box:hover .sort-input {
  color: var(--dark);
}
.sort-box:hover::after {
  background-image: url('../img/pic/form_controls/select-arrow-hover.svg');
}
.price-control {
  width: 218px;
  height: 36px;
  background-color: var(--white-transparent-20);
  border-radius: 20px;
  position: relative;
  display: flex;
}
.price-line {
  border: 1px solid rgba(248, 247, 244, 0.5);
  margin: auto;
  width: 176px;
  height: 0;
  display: flex;
  align-items: center;
  padding-left: 13px;
  position: relative;
}
.price-range-line {
  border: 1px solid #F8F7F4;
  width: 102px;
  height: 0;
  position: absolute;
}
.point {
  border-radius: 50%;
  border: 8px solid var(--white);
  width: 4px;
  height: 4px;
  background-color: #ABABAB;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.point-2 {
  right: 54px;
}
.point:hover {
  border-width: 9px;
}
.point-1:hover {
  margin-left: -1px;
}
.point-2:hover {
  margin-right: -1px;
}
.fat > div {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 9px 14px;
  background-color: var(--white-transparent-20);
  border-radius: 20px;
}
.fat label {
  padding-left: 2em;
}
 .radio-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio-box {
  position: absolute;
  margin-left: -2em;
  margin-top: -0.1em;
  width: 1.4em;
  height: 1.4em;
  background-image: url('../img/pic/form_controls/radio-off.svg');
  background-repeat: no-repeat;
}
.radio-input:checked + .radio-box {
  background-image: url('../img/pic/form_controls/radio-on.svg');
}
.radio-input:hover + .radio-box {
  background-image: url('../img/pic/form_controls/radio-off-hover.svg');
}
.radio-input:checked:hover + .radio-box {
  background-image: url('../img/pic/form_controls/radio-on-hover.svg');
}
.radio-input:disabled + .radio-box {
  background-image: url('../img/pic/form_controls/radio-off-disabled.svg');
}
.radio-input:checked:disabled + .radio-box {
  background-image: url('../img/pic/form_controls/radio-on-disabled.svg');
}

.toppings > div {
  padding: 9px 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--white-transparent-20);
  border-radius: 20px;
}
.toppings label {
  padding-left: 2em;
}
.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check-box {
  position: absolute;
  margin-left: -2em;
  width: 1.5em;
  height: 1.3em;
  background-image: url('../img/pic/form_controls/checkbox-off.svg');
  background-repeat: no-repeat;
}
.check-input:checked + .check-box {
  background-image: url('../img/pic/form_controls/checkbox-on.svg');
}
.check-input:hover + .check-box {
  background-image: url('../img/pic/form_controls/checkbox-off-hover.svg');
}
.check-input:checked:hover + .check-box {
  background-image: url('../img/pic/form_controls/checkbox-on-hover.svg');
}
.check-input:disabled + .check-box {
  background-image: url('../img/pic/form_controls/checkbox-off-disabled.svg');
}
.check-input:checked:disabled + .check-box {
  background-image: url('../img/pic/form_controls/checkbox-on-disabled.svg');
}


.filter-submit {
  display: block;
  align-self: flex-end;
  background-color: var(--white-transparent-20);
  border-radius: 20px;
  padding: 7px 29px;
  border: 2px solid var(--white);
  box-sizing: border-box;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 14px;

}
.filter-submit:hover,
.filter-submit:focus {
  background-color: var(--white);
  color: var(--dark);
}
.filter-submit:active {
  color: var(--dark);
  background: var(--nav-active);
  box-shadow: inset 0px 2px 1px var(--nav-inset-border);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px 26px;
  margin-bottom: 64px;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 36px;
}
.pagination-item {
  margin-left: 14px;
  margin-right: -9px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: var(--white);
  text-align: center;
}
.pagination li:first-child > a,
.pagination li:first-child > a:visited,
.pagination li:first-child > a:hover,
.pagination li:first-child > a:active {
  background-color: transparent;
  background-image: url('../img/pic/pagination-left.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.pagination li:last-child > a,
.pagination li:last-child > a:visited,
.pagination li:last-child > a:hover,
.pagination li:last-child > a:active {
  background-color: transparent;
  background-image: url('../img/pic/pagination-right.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination-item:hover {
  background-color: var(--white-transparent-20);
}
.pagination-item:active,
.pagination-current,
.pagination-current:hover {
  background-color: var(--white);
}
.pagination-item:active,
.pagination-current {
  color: var(--dark);
}

